@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  opacity: 60%;
  transition: all 300ms ease-in-out;
}
.swiper-button-next:active,
.swiper-button-prev:active {
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
